# Ninja files
build.ninja

# Build objects and artifacts
deps/
build/
build-*/
bin/
lib/
out/
obj/
libs/
*.pyc
*.pyo
*.log

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
