# This is a comment.
# Each line is a file pattern followed by one or more owners.

/aten/ @apaszke @soumith @colesbury @gchanan @zdevito @ezyang
/torch/onnx/ @anderspapitto @bddppq @dzhulgakov @ezyang @houseroad @jamesr66a @smessmer
/torch/ @apaszke @soumith @colesbury @gchanan @zdevito @ezyang
/docs/source @apaszke @soumith @colesbury @gchanan @zdevito @ezyang
/test @apaszke @soumith @colesbury @gchanan @zdevito @ezyang
/tools @apaszke @soumith @colesbury @gchanan @zdevito @ezyang
/README.md @apaszke @soumith @colesbury @gchanan @zdevito @ezyang
/setup.py @apaszke @soumith @colesbury @gchanan @zdevito @ezyang
/requirements.txt @apaszke @soumith @colesbury @gchanan @zdevito @ezyang
