include MANIFEST.in
include BUCK.oss
include BUILD.bazel
include CMakeLists.txt
include CITATION.cff
include CODE_OF_CONDUCT.md
include CODEOWNERS
include CONTRIBUTING.md
include Dockerfile
include GLOSSARY.md
include LICENSE
include Makefile
include NOTICE
include RELEASE.md
include SECURITY.md
include WORKSPACE
include *.bzl
include docker.Makefile
include mypy.ini
include mypy-strict.ini
include pytest.ini
include requirements.txt
include ubsan.supp
include ufunc_defs.bzl
include version.txt
include .bazelignore .bazelrc .bazelversion
include .clang-format .clang-tidy
include .cmakelintrc
include .coveragerc
include .ctags.d/*.ctags
include .dockerignore
include .flake8
include .gdbinit
include .lintrunner.toml
include .lldbinit
graft .devcontainer
graft .vscode
graft android
graft aten
graft binaries
graft c10
graft caffe2
graft cmake
graft torch
graft tools
graft test
graft docs
graft ios
graft third_party
graft test
graft benchmarks
graft scripts
graft mypy_plugins
graft modules
graft functorch
graft torchgen
# ittapi contains a circular symlink; the following line deals with that
# prune third_party/ittapi/rust/ittapi-sys/c-library
# include third_party/ittapi/rust/ittapi-sys/c-library
# prune third_party/ittapi/rust/ittapi-sys/LICENSES
# include third_party/ittapi/rust/ittapi-sys/LICENSES
exclude third_party/ittapi/rust/ittapi-sys/c-library/*
prune third_party/flatbuffers/java/src/test/java/*
prune third_party/flatbuffers/kotlin/benchmark/src/jvmMain/java/*
recursive-include third_party/flatbuffers/java/src/main *
recursive-include third_party/flatbuffers/tests *.cs *.fbs *.go *.h *.java *.json *.kt *lua *.nim *.php *.py *.rs
prune torchgen/packaged
prune */__pycache__
prune **/.github
prune **/.gitlab
global-exclude *.o *.so *.dylib *.a
global-exclude *.pyc *.swp
global-exclude .git .git-blame-ignore-revs .gitattributes .gitignore .gitmodules
global-exclude .gitlab-ci.yml
