# Reference: https://setuptools.pypa.io/en/latest/userguide/miscellaneous.html

# Include source files in SDist
include CMakeLists.txt
include *.bzl
include *.bazel
include .bazel*
include WORKSPACE
include BUCK.*
include requirements.txt
include version.txt
include .gitmodules
graft android
graft aten
graft binaries
graft c10
graft caffe2
graft cmake
graft functorch
graft third_party
graft tools
graft torch
graft torchgen
# FIXME: torch-xla codegen build failure if include this file in wheel
exclude torchgen/BUILD.bazel

# Misc files and directories in SDist
include *.md
include CITATION.cff
include LICENSE
include NOTICE
include mypy.ini
graft benchmarks
graft docs
graft mypy_plugins
graft scripts

# Include test suites in SDist
graft test
include pytest.ini

# Prune generated/compiled files
prune torchgen/packaged
prune */__pycache__
global-exclude *.o *.obj *.so *.a *.dylib *.pxd *.dll *.lib *.py[cod]

prune */.git
global-exclude .git *~ *.swp
