# Python dependencies required for development
astunparse
expecttest
hypothesis
numpy
psutil
pyyaml
requests
setuptools
six
types-dataclasses
typing_extensions
sympy
filelock
networkx
jinja2
optree>=0.5.1
