# Build System requirements
setuptools>=70.1.0,<80.0  # setuptools develop deprecated on 80.0
cmake>=3.27
ninja
numpy
packaging
pyyaml
requests
six  # dependency chain: NNPACK -> PeachPy -> six
typing-extensions>=4.10.0
