# Python dependencies required for development
astunparse==1.6.3
expecttest>=0.2.1
hypothesis==5.35.1
numpy==1.21.2 ; python_version <= "3.11"
numpy==1.26.2 ; python_version == "3.12"
numpy==2.1.2 ; python_version >= "3.13"
psutil==6.0.0
pyyaml==6.0.1
requests==2.32.3
# Setuptools>=74.0.0 stopped support for directly using private funcs(_msvccompiler)
# and consolidated all compiler logic in distutils used in Pytorch build, so older
# is required until pytorch build not refactored to work for latest setuptools.
setuptools<=72.1.0
types-dataclasses==0.6.6
typing-extensions>=4.8.0
sympy==1.12.1 ; python_version == "3.8"
sympy==1.13.1 ; python_version >= "3.9"
filelock==3.13.1
networkx==2.8.8
jinja2==3.1.4
fsspec==2024.6.1
lintrunner==0.12.5
ninja==1.10.2
packaging==24.1
optree>=0.12.0 ; python_version <= "3.12"
