flake8==4.0.1
flake8-breakpoint==1.1.0
flake8-bugbear==22.6.22
flake8-comprehensions==3.10.0
flake8-executable==2.0.4
flake8-pyi==22.5.1
git+https://github.com/malfet/flake8-coding.git
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0
