[submodule "src/ATen/cpu/cpuinfo"]
	path = src/ATen/cpu/cpuinfo
	url = https://github.com/Maratyszcza/cpuinfo
[submodule "src/ATen/cpu/tbb/tbb_remote"]
	path = src/ATen/cpu/tbb/tbb_remote
	url = https://github.com/01org/tbb
	branch = tbb_2018
[submodule "src/ATen/utils/catch"]
	path = src/ATen/utils/catch
	url = https://github.com/catchorg/Catch2.git
