BasedOnStyle: Google

AlignOperands: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeTernaryOperators: false
ColumnLimit: 100
PointerBindsToType: false
