/* styles needed for the Google Search button */

.pytorch-left-menu-search input[type=text] {
    background-image: none;
}

.gsc-control-cse {
   padding-left: 0px !important;
   padding-bottom: 0px !important;
}

.gsc-search-button .gsc-search-button-v2:focus {
   border: transparent !important;
   outline: none;
   box-shadow: none;
}

.gsc-search-button-v2:active {
   border: none !important;
}

.gsc-search-button-v2 {
   border: none !important;
}

/* End of Google Search button styles */
