# READ THIS BEFORE YOU REFACTOR ME
#
# setup.py uses the list of patterns in this file to decide
# what to delete, but it's not 100% sound.  So, for example,
# if you delete aten/build/ because it's redundant with build/,
# aten/build/ will stop being cleaned.  So be careful when
# refactoring this file!

## PyTorch

.mypy_cache
*/*.pyc
*/*.so*
*/**/__pycache__
*/**/*.dylib*
*/**/*.pyc
*/**/*.pyd
*/**/*.so*
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
aten/build/
aten/src/ATen/Config.h
aten/src/ATen/cuda/CUDAConfig.h
caffe2/cpp_test/
dist/
docs/src/**/*
docs/cpp/build
docs/cpp/source/api
docs/_build
docs/source/generated/
test/.coverage
test/.hypothesis/
test/cpp/api/mnist
test/custom_operator/model.pt
test/data/legacy_modules.t7
test/data/*.pt
dropout_model.pt
test/generated_type_hints_smoketest.py
test/htmlcov
test/cpp_extensions/install/
third_party/build/
tools/shared/_utils_internal.py
torch.egg-info/
maskedtensor/__init__.pyi
maskedtensor/nn/functional.pyi
maskedtensor/nn/modules/*.pyi
maskedtensor/csrc/autograd/generated/*
maskedtensor/csrc/cudnn/cuDNN.cpp
maskedtensor/csrc/generated
maskedtensor/csrc/generic/TensorMethods.cpp
maskedtensor/csrc/jit/generated/*
maskedtensor/csrc/jit/fuser/config.h
maskedtensor/csrc/nn/THCUNN.cpp
maskedtensor/csrc/nn/THCUNN.cwrap
maskedtensor/csrc/nn/THNN_generic.cpp
maskedtensor/csrc/nn/THNN_generic.cwrap
maskedtensor/csrc/nn/THNN_generic.h
maskedtensor/csrc/nn/THNN.cpp
maskedtensor/csrc/nn/THNN.cwrap
maskedtensor/bin/
maskedtensor/cmake/
maskedtensor/lib/*.a*
maskedtensor/lib/*.dll*
maskedtensor/lib/*.exe*
maskedtensor/lib/*.dylib*
maskedtensor/lib/*.h
maskedtensor/lib/*.lib
maskedtensor/lib/*.so*
maskedtensor/lib/protobuf*.pc
maskedtensor/lib/build
maskedtensor/lib/caffe2/
maskedtensor/lib/cmake
maskedtensor/lib/include
maskedtensor/lib/pkgconfig
maskedtensor/lib/protoc
maskedtensor/lib/protobuf/
maskedtensor/lib/tmp_install
maskedtensor/lib/torch_shm_manager
maskedtensor/lib/site-packages/
maskedtensor/lib/python*
maskedtensor/lib64
maskedtensor/include/
maskedtensor/share/
maskedtensor/test/
maskedtensor/version.py
# Root level file used in CI to specify certain env configs.
# E.g., see .circleci/config.yaml
env
.circleci/scripts/COMMIT_MSG

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# macOS dir files
.DS_Store

# Symbolic files
tools/shared/cwrap_common.py

# Ninja files
.ninja_deps
.ninja_log
compile_commands.json
*.egg-info/
docs/source/scripts/activation_images/

## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc
*.pyd

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

# GDB history
.gdb_history

## Caffe2

# build, distribute, and bins (+ python proto bindings)
build
build_host_protoc
build_android
build_ios
/build_*
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
cmake_build
.cmake_build
gen
.setuptools-cmake-build
.pytest_cache
aten/build/*

# Bram
plsdontbreak

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev

# LevelDB files
*.sst
*.ldb
LOCK
CURRENT
MANIFEST-*

# generated version file
caffe2/version.py

# setup.py intermediates
.eggs
caffe2.egg-info

# Atom/Watchman required file
.watchmanconfig

# Files generated by CLion
cmake-build-debug

# Files generated by ctags
CTAGS
tags
TAGS

# BEGIN NOT-CLEAN-FILES (setup.py handles this marker. Do not change.)
#
# Below files are not deleted by "setup.py clean".

# Visual Studio Code files
.vscode
.vs

# YouCompleteMe config file
.ycm_extra_conf.py

# Files generated when a patch is rejected
*.orig
*.rej

!build_with_submodule.sh
