# Python dependencies required for unit tests
awscli
#awscli==1.6
boto3
#boto3==1.19.12
#boto3==1.16.34
click
coremltools
#coremltools==5.0b5
dataclasses
expecttest
#expecttest==0.1.3
flatbuffers
#flatbuffers==2.0
future
hypothesis
#hypothesis==3.44.6
#hypothesis==4.53.2
junitparser
#junitparser==2.1.1
librosa
#librosa>=0.6.2
mkl
mkl-devel
mock
MonkeyType
mypy
#mypy==0.812
networkx
#networkx==2.0
#ninja
ninja==1.10.0.post1
numba
#numba==0.54.1
#numba==0.49.0
#numba<=0.49.1
numpy
#numpy==1.20
onnxruntime
#onnxruntime==1.9.0
pillow
protobuf
psutil
pytest
pytest-benchmark
#pytest-benchmark==3.2.3
pytest-sugar
PyYAML
requests
rich
#rich==10.9.0
scikit-learn
#scikit-learn==0.20.3
scipy
#scipy==1.6.3
six
#six==1.16.0
tabulate
torch
torchvision
typing-extensions
#typing_extensions
virtualenv
unittest-xml-reporting

#torchelastic
#jinja2
#matplotlib
#flask
#ipython
#notebook
#pydot
#python-nvd3
#tornado
#scikit-image
#pytest-xdist
#pytest-cov
#setuptools
#typing
