# torch.onnx.verification

```{eval-rst}
.. automodule:: torch.onnx.verification
```

```{eval-rst}
.. autofunction:: verify_onnx_program
```

```{eval-rst}
.. autoclass:: VerificationInfo
    :members:
```
