# torch.onnx.verification
```{eval-rst}
.. automodule:: torch.onnx.verification
```

```{eval-rst}
.. autofunction:: verify_onnx_program
```

```{eval-rst}
.. autoclass:: VerificationInfo
    :members:
```

```{eval-rst}
.. autofunction:: verify
```

## Deprecated

The following classes and functions are deprecated.

<!-- Some deprecated members are not publicly shown -->
```{eval-rst}
.. py:class:: check_export_model_diff
```
```{eval-rst}
.. py:class:: GraphInfo
```
```{eval-rst}
.. py:class:: GraphInfoPrettyPrinter
```
```{eval-rst}
.. py:class:: OnnxBackend
```
```{eval-rst}
.. py:class:: OnnxTestCaseRepro
```
```{eval-rst}
.. py:class:: VerificationOptions
```
```{eval-rst}
.. py:function:: find_mismatch
```
```{eval-rst}
.. py:function:: verify_aten_graph
```
