{%- set external_urls = {
  'github': 'https://github.com/pytorch/pytorch',
  'github_issues': 'https://github.com/pytorch/pytorch/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://pytorch.org/docs/stable/index.html',
  'twitter': 'https://twitter.com/pytorch',
  'facebook': 'https://www.facebook.com/pytorch',
  'slack': 'https://pytorch.slack.com',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://pytorch.org/tutorials',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://pytorch.org/',
  'get_started': 'https://pytorch.org/get-started',
  'features': 'https://pytorch.org/features',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support'
}
-%}