import threading

from torch._inductor.kernel.vendored_templates.flydsl.kernels import (
    infer_has_k_tail,
    make_gemm_param_and_validate,
)
from torch._inductor.kernel.vendored_templates.flydsl.kernels.gemm_gfx950 import (
    gemm_gfx950,
)
from torch._inductor.runtime.flydsl_cache import (
    configure_flydsl_cache_dir,
    flydsl_tensor_arg,
    precompile_flydsl,
    run_cached_flydsl,
)

{{gen_defines()}}


_gemm_param = None
_gemm_param_lock = threading.Lock()


def _flydsl_mm(output, mat1, mat2, stream, compile_only=False):
    global _gemm_param
    param = _gemm_param
    if param is None:
        with _gemm_param_lock:
            param = _gemm_param
            if param is None:
                has_k_tail = infer_has_k_tail(GEMM_K, TILE_K, STAGES)
                if USE_HALF_TILE_INTERLEAVED:
                    has_k_tail = has_k_tail or (((GEMM_K + TILE_K - 1) // TILE_K) % 2 != 0)
                param = make_gemm_param_and_validate(
                    GEMM_M,
                    GEMM_N,
                    GEMM_K,
                    {
                        "dtype_id": GEMM_DTYPE_ID,
                        "tile_m": TILE_M,
                        "tile_n": TILE_N,
                        "tile_k": TILE_K,
                        "stages": STAGES,
                        "m_waves": M_WAVES,
                        "n_waves": N_WAVES,
                        "group_m": GROUP_M,
                        "use_half_tile_interleaved": USE_HALF_TILE_INTERLEAVED,
                        "a_is_transposed": A_IS_TRANSPOSED,
                        "b_is_transposed": B_IS_TRANSPOSED,
                        "has_bias": False,
                        "has_k_tail": has_k_tail,
                    },
                )
                if param is None:
                    raise RuntimeError(
                        f"unsupported FlyDSL GEMM shape/config: M={GEMM_M}, N={GEMM_N}, "
                        f"K={GEMM_K}, tile=({TILE_M}, {TILE_N}, {TILE_K}), stages={STAGES}"
                    )
                _gemm_param = param
    configure_flydsl_cache_dir()

    def compile_args():
        return (
            flydsl_tensor_arg(output),
            flydsl_tensor_arg(mat1),
            flydsl_tensor_arg(mat2),
            param,
            stream,
        )

    if compile_only:
        flyc.compile(gemm_gfx950, *compile_args())
    else:
        run_cached_flydsl(
            gemm_gfx950,
            compile_args_factory=compile_args,
            constexpr_param=param,
            compiler=flyc.compile,
            dispatch_args=(output, mat1, mat2, param, stream),
        )
    return output


{{def_kernel("mat1", "mat2")}}
    output = {{get_output()}}
    return _flydsl_mm(output, mat1, mat2, stream)


def {{kernel_name}}_precompile(
    precompile_shapes,
    precompile_strides,
    precompile_dtypes,
    device_index=0,
    device_capability=None,
    flydsl_gpu_arch=None,
):
    precompile_flydsl(
        _flydsl_mm, precompile_shapes, precompile_strides,
        precompile_dtypes, flydsl_gpu_arch,
    )
