import contextlib
import os

from torch._inductor.kernel.vendored_templates.flydsl.kernels import (
    infer_has_k_tail,
    launch_gemm_gfx950,
    make_gemm_param_and_validate,
)
from torch._inductor.runtime.flydsl_cache import ensure_flydsl_cache_dir

{{gen_defines()}}


_gemm_fn_cache = {}


def _gemm_param_cache_key(param):
    return (
        param.block_m,
        param.block_n,
        param.block_k,
        param.stages,
        param.m_waves,
        param.n_waves,
        param.group_m,
        int(param.has_bias),
        int(param.has_k_tail),
        param.async_load_bytes,
        param.in_data_bytes,
        param.out_data_bytes,
        param.ldg_x_threads,
        param.block_threads,
        param.ldg_a_iters,
        param.ldg_b_iters,
        param.mma_m,
        param.mma_n,
        param.mma_k,
    )


def _run_gemm_gfx950(param, *runtime_args):
    """First call compiles and executes; subsequent calls dispatch the cached executor."""
    cache_key = _gemm_param_cache_key(param)
    args = runtime_args[:-1] + (param, runtime_args[-1])
    executor = _gemm_fn_cache.get(cache_key)
    if executor is None:
        ensure_flydsl_cache_dir()
        executor = flyc.compile(launch_gemm_gfx950, *args)
        if not os.environ.get("COMPILE_ONLY"):
            _gemm_fn_cache[cache_key] = executor
    else:
        executor(*args)


@contextlib.contextmanager
def _temporary_env(updates):
    old_values = {key: os.environ.get(key) for key in updates}
    os.environ.update(
        {key: value for key, value in updates.items() if value is not None}
    )
    try:
        yield
    finally:
        for key, old_value in old_values.items():
            if old_value is None:
                os.environ.pop(key, None)
            else:
                os.environ[key] = old_value


def _flydsl_mm(output, mat1, mat2, stream):
    k = mat1.shape[-1]
    mat2_nk = mat2.transpose(0, 1)

    mat1_mk = mat1.view(-1, k)
    m = mat1_mk.shape[0]
    n = mat2_nk.shape[0]
    output_mn = output.view(-1, n)
    bias_tensor = mat1_mk

    has_k_tail = infer_has_k_tail(k, TILE_K, STAGES)

    param = make_gemm_param_and_validate(
        m,
        n,
        k,
        {
            "block_m": TILE_M,
            "block_n": TILE_N,
            "block_k": TILE_K,
            "stages": STAGES,
            "m_waves": BLOCK_M_WARPS,
            "n_waves": BLOCK_N_WARPS,
            "group_m": GROUP_M,
            "has_bias": False,
            "has_k_tail": has_k_tail,
        },
    )
    _run_gemm_gfx950(
        param,
        output_mn,
        mat1_mk,
        mat2_nk,
        bias_tensor,
        m,
        n,
        k,
        stream,
    )
    return output


{{def_kernel("mat1", "mat2")}}
    output = {{get_output()}}
    return _flydsl_mm(output, mat1, mat2, stream)


def {{kernel_name}}_precompile(
    precompile_shapes,
    precompile_strides,
    precompile_dtypes,
    device_index=0,
    device_capability=None,
    flydsl_gpu_arch=None,
):
    """Warm FlyDSL's disk cache using metadata-only fake tensors."""
    dtype_mat1 = getattr(torch, precompile_dtypes["mat1"])
    dtype_mat2 = getattr(torch, precompile_dtypes["mat2"])
    dtype_output = getattr(torch, precompile_dtypes["output"])

    shape_mat1 = tuple(precompile_shapes["mat1"])
    shape_mat2 = tuple(precompile_shapes["mat2"])
    shape_output = tuple(precompile_shapes["output"])

    stride_mat1 = tuple(precompile_strides["mat1"])
    stride_mat2 = tuple(precompile_strides["mat2"])
    stride_output = tuple(precompile_strides["output"])

    env_updates = {"COMPILE_ONLY": "1"}
    if flydsl_gpu_arch is not None:
        # FlyDSL's GEMM factory and backend read different arch env names.
        env_updates["FLYDSL_GPU_ARCH"] = flydsl_gpu_arch
        env_updates["ARCH"] = flydsl_gpu_arch

    with _temporary_env(env_updates):
        from torch._subclasses.fake_tensor import FakeTensorMode

        with FakeTensorMode():

            def _fake_proxy(shape, stride, dtype):
                return torch.empty_strided(shape, stride, dtype=dtype, device="cpu")

            mat1 = _fake_proxy(shape_mat1, stride_mat1, dtype_mat1)
            mat2 = _fake_proxy(shape_mat2, stride_mat2, dtype_mat2)
            output = _fake_proxy(shape_output, stride_output, dtype_output)

            try:
                _flydsl_mm(output, mat1, mat2, stream=0)
            finally:
                _gemm_fn_cache.clear()
