Source: nccl
Section: universe/libs
Maintainer: Boris Fomitchev <bfomitchev@nvidia.com>
Priority: optional
Build-depends: debhelper(>=9), go-md2man, cuda-toolkit-7-0,
               cuda-curand-dev-7-0, cuda-cublas-dev-7-0, cuda-cudart-dev-7-0, cuda-ld-conf-7-0
Standards-Version: 3.9.5

Package: libnccl1
Section: universe/libs
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends},
               cuda-curand-7-0, cuda-cublas-7-0, cuda-cudart-7-0, cuda-ld-conf-7-0
Description: NVIDIA Communication Collectives Library (NCCL) Runtime
 NCCL (pronounced "Nickel") is a stand-alone library of standard collective
 communication routines,such as all-gather, reduce, broadcast, etc., that have
 been optimized to achieve high bandwidth over PCIe. NCCL supports up to eight
 GPUs and can be used in either single- or multi-process (e.g., MPI)
 applications.

Package: libnccl-dev
Section: universe/libdevel
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}, libnccl1 (= ${binary:Version})
Description: NVIDIA Communication Collectives Library (NCCL) Development Files
 NCCL (pronounced "Nickel") is a stand-alone library of standard collective
 communication routines,such as all-gather, reduce, broadcast, etc., that have
 been optimized to achieve high bandwidth over PCIe. NCCL supports up to eight
 GPUs and can be used in either single- or multi-process (e.g., MPI)
 applications.
