#!/usr/bin/make -f




# Enabling a single GPU for tests only
# test.sh fails for non-idential multi-GPU
# fix pending : https://github.com/torch/cutorch/issues/239
export CUDA_VISIBLE_DEVICES=0
%:
	PREFIX="$(CURDIR)/usr" dh  $@ --build-system=make --parallel

override_dh_auto_test:
	echo "Skipping test: fix me later ..."
