# NOTE there must be no spaces before the '-', so put the comma after.
# When making changes, be sure to verify the output of the following command to ensure
# the desired checks are enabled (run from the directory containing a .clang-tidy file):
# ~/fbsource/tools/lint/clangtidy/clang-tidy-platform010-clang-17 -list-checks
# NOTE: Please don't disable inheritance from the parent to make sure that common checks get propagated.

# This configuration prevents global namespace pollution in headers.
---
InheritParentConfig: true
Checks: '
google-global-names-in-headers,
'
...
