# FLAKE8
flake8==3.8.2
flake8-bugbear==20.1.4
flake8-comprehensions==3.3.0
flake8-executable==2.0.4
git+https://github.com/malfet/flake8-coding.git
flake8-pyi==20.5.0
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0

# MYPY
numpy==1.23.1
expecttest==0.1.3
mypy==0.960
types-requests==2.27.25
types-six==1.16.15
types-PyYAML==6.0.7
types-tabulate==0.8.8
types-protobuf==3.19.18
types-pkg-resources==0.1.3
types-Jinja2==2.11.9
junitparser==2.1.1
rich==10.9.0
pyyaml==6.0

# NATIVEFUNCTIONS
ruamel.yaml==0.17.4

# CMAKE
cmakelint==1.4.1

# SPELLCHECK
shellcheck-py==0.7.2.1

# WORKFLOWSYNC
PyYAML==6.0

# UFMT
black==22.3.0
ufmt==1.3.3
usort==1.0.2

# For testing tools
ghstack==0.7.1
