-e git+https://github.com/pytorch/pytorch_sphinx_theme.git@71e55749be14ceb56e7f8211a9fb649866b87ad4#egg=pytorch_sphinx_theme2

sphinx==7.2.6
sphinxcontrib-katex==0.9.11
sphinx_sitemap==2.8.0
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinxcontrib-mermaid==1.0.0

myst-parser==4.0.1
myst-nb==1.3.0
ipython==8.37.0
matplotlib==3.10.6
tensorboard==2.20.0
numpy==2.2.6

# Used to generate C++ docs
docutils==0.20.1
breathe==4.36.0
exhale==0.3.7
beautifulsoup4==4.14.2

# For torch.distributed.elastic.rendezvous.etcd* docs
python-etcd==0.4.5

# For notebook examples which use torch.utils.cpp_extension
ninja==1.13.0
