sphinx==6.2.1
#Description: This is used to generate PyTorch docs
#Pinned versions: 6.2.1
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git@pytorch_sphinx_theme2#egg=pytorch_sphinx_theme2

sphinx-remove-toctrees==1.0.0.post1
#Description: This is used to generate PyTorch docs
#Pinned versions: 1.0.0.post1

# TODO: sphinxcontrib.katex 0.9.0 adds a local KaTeX server to speed up pre-rendering
# but it doesn't seem to work and hangs around idly. The initial thought that it is probably
# something related to Docker setup. We can investigate this later.

sphinxcontrib.katex==0.9.10
#Description: This is used to generate PyTorch docs
#Pinned versions: 0.9.10

sphinx_sitemap==2.7.1
#Description: This is used to generate sitemap for PyTorch docs
#Pinned versions: 2.7.1

matplotlib==3.5.3 ; python_version < "3.13"
matplotlib==3.6.3 ; python_version >= "3.13"
#Description: This is used to generate PyTorch docs
#Pinned versions: 3.6.3 if python > 3.12. Otherwise 3.5.3.

tensorboard==2.13.0 ; python_version < "3.13"
tensorboard==2.18.0 ; python_version >= "3.13"
#Description: This is used to generate PyTorch docs
#Pinned versions: 2.13.0

breathe==4.35.0
#Description: This is used to generate PyTorch C++ docs
#Pinned versions: 4.35.0

exhale==0.3.7
#Description: This is used to generate PyTorch C++ docs
#Pinned versions: 0.3.7

docutils==0.18.1
#Description: This is used to generate PyTorch C++ docs
#Pinned versions: 0.18.1

bs4==0.0.1
#Description: This is used to generate PyTorch C++ docs
#Pinned versions: 0.0.1

IPython==8.12.0
#Description: This is used to generate PyTorch functorch docs
#Pinned versions: 8.12.0

myst-nb==0.17.2
#Description: This is used to generate PyTorch functorch and torch.compile docs
#Pinned versions: 0.17.2

# The following are required to build torch.distributed.elastic.rendezvous.etcd* docs
python-etcd==0.4.5
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinxcontrib-mermaid==1.0.0
myst-parser==3.0.1
myst-nb