sphinx==3.5.4
docutils==0.16
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
sphinxcontrib.katex
sphinx_copybutton>=0.3.1
IPython
myst-nb==0.13.2
# Fixing upper version due to https://github.com/sphinx-doc/sphinx/issues/10306
Jinja2<3.1.0
