.Caffe2_maintitle {
  font-size: 5em;
  font-size: 8vw;
  font-family: Raleway;
  font-weight: 200;
  color: #902424;
}

.Caffe2_subtitle {
  font-size: 2em;
  font-size: 5vw;
  font-family: Raleway;
  font-weight: 200;
  color: #444;
}

.Caffe2_searchbar {
  width: 90%;
  padding-top: 20px;
	display: block;
	margin: 0 auto;
}

.Caffe2_searchbar input {
  width: 100%;
}

.Caffe2_hidden {
	display: none !important;
}

.Caffe2_currentlink {
	color: black;
}
