[Unit]
Description=Support for transparent execution of non-native binaries with QEMU user emulation

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm --interactive --privileged docker.io/multiarch/qemu-user-static --reset -p yes

[Install]
WantedBy=multi-user.target
