{% import 'common.yml.j2' as common %}

name: autoformatter

on:
  schedule:
    - cron: 0 4 * * SAT
  workflow_dispatch:
  pull_request:  # TODO: remove this before landing!

concurrency:
  group: autoformatter-${{ github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:
  python:
    runs-on: ubuntu-18.04
    steps:
      !{{ common.checkout_pytorch("false") }}
      - name: Install Dependencies
        run: |
          pip install black==21.9b0
      - name: Run black
        run: |
          black tools/testing/*
      - name: Push results
        run: |
          git status
          git diff
