{% import 'common.yml.j2' as common %}

{%- block name -%}
# Template is at:    .github/templates/trunk.yml.j2
# Generation script: .github/scripts/generate_ci_workflows.py
name: trunk
{%- endblock %}

on:
  push:
    tags:
      - ciflow/trunk/*
      - ciflow/all/*
    branches:
      - master
      - release/*
      - fbsync

!{{ common.concurrency("trunk") }}

jobs:

{% for job in jobs -%}
    {%- include job.template %}
{% endfor %}
